.admin-users-container {
    padding: 20px;
    
    width: 80%;
  }
  h1{
    text-align: center;
  }
  .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .users-table th {
    background-color: #f2f2f2;
  }
  
  .access-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .access-button.grant {
    background-color: #4CAF50;
    color: white;
  }
  
  .access-button.revoke {
    background-color: #f44336;
    color: white;
  }
  
  .access-button svg {
    margin-right: 5px;
  }
  