.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: white;
  }
  
  .footer-logo img {
    height: 50px; /* Adjust as needed */
  }
  
  .footer-nav-links {
    display: flex;
    gap: 20px;
    margin: 20px 0; /* Add some space around the navigation links */
  }
  
  .footer-nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5em; /* Adjust font size */
  }
  
  .footer-nav-links a:hover {
    color: #28a745; /* Green color on hover */
  }
  
  .footer-social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 20px; /* Add some space around the social media icons */
  }
  
  .footer-social-media img {
    height: 40px; /* Adjust as needed */
    transition: transform 0.3s;
  }
  
  .footer-social-media img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  
  .footer-copyright {
    color: blue;
    font-size: 1.2em;
    margin-top: 10px; /* Add some space above the copyright text */
  }
  